<% content_for :title do %>Radio Salut c'est cool<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total-listeners" data-view="Number" data-title="Total Listeners"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total-listeners-graph" data-view="Graph" data-title="Total Listeners"></div>
    </li>

    <!--<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="total-connections" data-view="Number" data-title="Total Connections	"></div>
    </li>-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total-connections-graph" data-view="Graph" data-title="Total Connections"></div>
    </li>

  </ul>
</div>